/poetry.lock
/pyproject.toml
/.replit
/venv
/.breakpoints
/replit.nix
key.txt
/Json
/Logs
/.vscode
/.config
/.upm
/StartBot.bat
/Modules/__pycache__
/__pycache__
/Songs
/Modules/*.pyc
/*.cpython
/.cache
songs.db
Version.txt