audioread==3.0.1
colorama==0.4.6
colorthief==0.2.1
discord.py==2.6.0
google_api_python_client==2.179.0
mutagen==1.47.0
numpy==2.3.2
Requests==2.32.5
schedule==1.2.2
spotipy==2.25.1
stringprogressbar==1.1.1
yt_dlp==2025.8.11
