audioread==3.0.1
colorama==0.4.6
colorthief==0.2.1
discord.py==2.2.3
google_api_python_client==2.88.0
mutagen==1.46.0
numpy==2.0.1
Requests==2.32.3
spotipy==2.23.0
StringProgressBar==1.1.1
yt_dlp==2024.7.25
pynacl==1.5.0
